.blog{
    width: 100%;
    padding: 100px 0;
    background-color: #f8f8f9;
}
.blog-inner{
    width: 100%;
}
.blog-inner h3{
    color: #13c3c9;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}
.blog-inner h1{
    color: #333;
    font-size: 38px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
}
.blog-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.blog-member{
    width: 30%;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 0px 5px 30px 0px rgba(148, 146, 245, 0.15);
}
.blog-member:hover .blog-member-img img{
    transform: scale(1.1) rotate(3deg);
}
.blog-member-img{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.blog-member-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.blog-member-img a{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #13c3c9;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.blog-member-info{
    padding: 30px 25px;
    background-color: #fff;
}
.blog-member-info a{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    transition: .3s;
    margin-bottom: 5px;
    line-height: 1.5;
}
.blog-member-info a:hover{
    text-decoration: underline;
    color: #13c3c9;
}
.blog-member-info p{
    font-size: 14px;
    font-weight: 500;
    color: #555;
    line-height: 26px;
    letter-spacing: 0.5px;
}
.blog-member-link{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.blog-member-link h6{
    font-size: 14px;
    font-weight: 700;
    color: #5a5a5a;
}
.blog-member-link a{
    font-size: 14px;
    color: #555;
    font-weight: 700;
    margin-bottom: 5px;
}
.blog-link{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.blog-link a{
    display: inline-block;
    margin-top: 25px;
    background: transparent;
    color: #13c3c9;
    text-decoration: none;
    border: 2px solid #13c3c9;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}