.portfolio{
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
}
.portfolio-inner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.portfolio-inner h3{
    color: #13c3c9;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.portfolio-inner h1{
    color: #333;
    font-size: 38px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.portfolio-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.portfolio-links a{
    display: inline-block;
    background-color: #fff;
    color: #333;
    margin: 0 5px;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 5px 30px 0px rgba(148,146,245,0.15);
    transition: .5s;
}
.portfolio-links a:hover{
    background-color: #13c3c9;
    color: #fff;
}
.portfolio-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio-member{
    width: 30%;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}
.portfolio-member img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-member-block{
    border-radius: 5px;
    margin: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: .5s;
}
.portfolio-member:hover .portfolio-member-block{
    height: 95%;
}
.portfolio-member-info{
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}
.portfolio-member-info p{
    color: #13c3c9;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}
.portfolio-member-info h4{
    color: #333;
    font-weight: 700;
    font-size: 16px;
}
.portfolio-member:hover .portfolio-member-info{
    transform: translateY(0px);
    opacity: 1;
}
.portfolio-member-block span{
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 18px;
    border: 1px solid #13c3c9;
    border-radius: 35px;
    color: #13c3c9;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-50px);
    transition: .5s;
}
.portfolio-member:hover .portfolio-member-block span{
    transform: translateY(0px);
    opacity: 1;
}
.portfolio-button a{
    margin-top: 50px;
    display: inline-block;
    background: transparent;
    color: #13c3c9;
    text-decoration: none;
    border: 2px solid #13c3c9;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}