h1{
    color: #333;
    font-size: 40px;
    text-transform: capitalize;
}
h1::before{
    content: '<<';
    color: blue;
}
h1::after{
    content: '>>';
    color: red;
}
.block{
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;
}
.block::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: .4s;
}
.block:hover::before{
    height: 100%;
    opacity: 0.5;
}
.block::after{
    content: '';
    position: absolute;
    bottom: 50%;
    right: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: .4s;
}
.block:hover::after{
    height: 100%;
    opacity: 0.8;
}
a{
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    background-color: greenyellow;
    border-radius: 30px;
    border: 2px solid greenyellow;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .4s;
}
a:hover{
    color: greenyellow;
}
a::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: #fff;
    transition: .5s;
}
a::after{
    content: '';
    position: absolute;
    bottom: 50%;
    right: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    transition: .5s;
    z-index: -1;
}
a:hover::before{
    height: 100%;
    opacity: 1;
}
a:hover::after{
    height: 100%;
    opacity: 1;
}
