*{
    margin: 0;
    padding: 0;
}
.post-items{
    width: 100%;
    padding: 200px 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.post-member{
    margin-top: 30px;
    width: 28%;
    border-radius: 10px;
    background-color: #13c3c9;
    padding: 40px 20px;
    transition: .4s;
    color: #333;
}
.post-member:hover{
    color: #13c3c9;
    background-color: transparent;
    box-shadow: 0 0 10px #13c3c9,0 0 30px #13c3c9, 0 0 80px #13c3c9;
}
.post-member-img{
    width: 100%;
}
.post-member-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}