*{
    margin: 0;
    padding: 0;
}
p{
    background-color: red;
    display: inline;
}
a{
    background-color: green;
    display: inline-block;
    width: 200px;
    height: 200px;
}
.container{
    width: 100%;
    padding: 200px 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.block{
    width: 30%;
    padding: 150px 0;
    background-color: brown;
    text-align: center;
}
.block h1{
    color: #fff;
    font-size: 40px;
}