a{
    color: blue;
}
.color{
    font-size: 30px;
    color: pink;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 20px;
}
.rgb{
    font-size: 30px;
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-style: oblique;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.hex{
    font-size: 30px;
    color: #f9ff90;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.rgba{
    font-size: 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.container-1{
    width: 300px;
    height: 300px;
    background-color: yellow;
}
.container-2{
    width: 300px;
    height: 300px;
    background-image: url('цветы.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.div-1{
    background-color: red;
}
.span-1{
    background-color: green;
}
/* margin: top right bottom left; */
/* margin: (top,bottom) (left,right) */
/* margin: top (left,right) bottom*/
.div-2{
    width: 100%;
    text-align: center;
    margin: 200px 0 ;
    padding: 200px 0;
    background-color: black;
}
.div-2 a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: pink;
    margin: 20px;
    padding: 20px;
}
.div-3{
    width: 100%;
    text-align: center;
    padding: 200px 0;
    background-color: black;
}
.div-3 a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
    border: 2px solid green;
    padding: 20px;
    margin: 0 20px;
}