.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.counter_inner{
    display: flex;
    justify-content: space-between;
}