body{
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.block{
    margin: 400px 200px;
    text-align: left;
}
h2{
    color: #fff;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
}
h1{
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.block div{
    width: 100px;
    height: 5px;
    background: #fff;
}
h3{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 5px;
}